h1{
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;

    text-shadow: 3px 3px #999999;
}
header{
    background-image: url("bannerbg.png");
    background-repeat: repeat-x;
}
.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div1{
    background-image: url("rbg.png");
    background-repeat: repeat-x;
    overflow: auto;
}
body{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    background-image: url("background3.png");
}
.str1{
    color: red;
    font-weight: bold;
    font-size: 48pt;
    overflow: auto;
}
.main{
    width: 800px;
    border : 4px gray solid;
    border-radius: 20px;
    overflow: auto;

  
    margin: auto;
    position: relative;


}
.big{
    display: block;
    overflow: auto;
}
.first{
   float: left;
    width: 70%;
    overflow: auto;
}
.column{
    float: left;
    width: 200px;
    padding-left: 8px;
}
.review{
    border : 2px gray solid;
    background-color: #E8DC9B;
    border-radius: 10px;
    padding-left: 8px;
    float: left;
}
.righitAside{
    float: right;

    width: 30%;
    background-color: #A2B964;
}
.footer{
    background-color: #A2B964;
    position: absolute;
    bottom: 0;
    width: 800px;
    text-align: center;
}
.validator{
    float: right;
}